
**/.obj/
**/lib*.a
a.out
cub3D

**/.DS_Store
.vscode/*
minilibx_c/*.o
minilibx_swift/*.o
minilibx_swift/*.swiftdoc
minilibx_swift/*.swiftmodule
**/libmlx.dylib

# **- Два соседних символа звездочки соответствуют любому файлу или нуля или более каталогов.
# Когда за ним следует косая черта ( /), он соответствует только каталогам.
# git rm -r --cached <name_file>